<div class="jumbotron">
  <h1>Welcome to CECOM Software Engineering Center (SEC)</h1>
  <h2>Intelligence, Electronic Warfare and Sensors Directorate (IEW&SD)</h2>
  <h2>Sensors and Mission Equipment Division (SMED)</h2>
  <h3> Tactical Training Plan Web Application</h3>
  <p>Final Project for COSC 880, Capstone</p>
  <a type="button" class="btn btn-lg btn-primary" href="/users">Get Started</a>
</div>
<div class="row">
    <div class="col-lg-4">
    <h4>Edit Your Profile</h4>
    <p>
      Add some interesting facts to your profile. What is your Current Job Assignment and Role Responsibility?
    </p>
    <p>
      To get started, sign up and begin editing your profile now.
    </p>
  </div>
  <div class="col-lg-4">
    <h4>Request Training Courses</h4>
    <p>
      Training Courses are a great way to develop professionally nd enhance your resume. You can submit requests to your supervisor.
    </p>
    <p>
      Reporting Capabilities will be coming soon to the IEW&SD Tactical Training Plan Web Application. Stay tuned!
    </p>
  </div>
</div>