<div class="jumbotron">
  <img src="http://localhost:3000/assets/bannerBG3.jpg"/>

  <h2> Intelligence, Electronic Warfare and Sensors Directorate (IEW&SD)</h2>
  <h2> Sensors and Mission Equipment Division (SMED)</h2>
  <h3> Tactical Training Plan Web Application</h3>
  <p> Final Project for COSC 880, Capstone</p>
  <p> Developed By Jlaja Pandora Podier</p>

  <a type="button" class="btn btn-lg btn-primary" href="/users">Get Started</a>

  <a type="button" class="btn btn-lg btn-default" href="/help/index">Need Help</a>
</div>
<div class="row">
    <div class="col-lg-4">
    <h2> Edit Your Profile</h2>
    <p style="font-size:18px">
       Add some interesting facts to your profile.
    </p>
      <p style="font-size:18px">
        What is your Current Job Assignment and Role Responsibility?
      </p>
    <p style="font-size:18px">
       To get started, sign up and begin editing your profile now.
    </p>
  </div>
  <div class="col-lg-4">
    <h2> Request Training Courses</h2>
    <p style="font-size:18px">
       Training Courses are a great way to develop professionally
    </p>
    <p style="font-size:18px">
     and enhance your resume. Submit requests to your supervisor.
    </p>

    <p style="font-size:20px">
       More Capabilities Coming Soon.  Stay Tuned!!!
    </p>
  </div>
</div>

